*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.big-container{
    width: 100vw;
    height: 2000px;
    background-color: grey;
}
.container{
    width: 100vw;
    background-color: rgba(20,24,35,255);
    padding-top: 100px;
}

.flex{
    display: flex;
}

.round{
    border-radius: 50%;
}
.row{
    max-width: 100%;
    background-color: green;
}

.inline{
    display: inline;
}
ul{
    text-align: center;
    padding: 10px;
}

.img-fluid{
    width: 250px;
}

.md{
    flex-wrap: wrap;
}
/* LG FIRST */
/* NAV BAR */
.nav-bar, .col-350{
    width: 250px;
}
.nav-bar{
    height: 100%;
    position: relative;
    z-index: 70;
    background-color: black;
}

.compressed{
    display: none;
}
/* HEADER */

#header{
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(9, 11, 19, 0.767);
}

/* MAIN */
.col-250{
    width: calc(100% / 6 - 10px);
    margin: 5px;
    text-align: center;
    padding-top: 5px;
}

/* BOTTOM BAR */
#bottom-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: rgba(40,41,41,255);
}

.col-350{
    height: 100%;
}

#img-bottom-bar{
    width: 80px;
}
/* RESPONSIVE */

    /* BREAK ICONS */
    @media screen and (max-width: 1810px){
        .img-fluid{
            width: 100%;
        }
    }
    /* MD */
    @media screen and (max-width: 1200px){
        .col-250{
            width: calc(100% / 4 - 10px);
        }
    }

    /* S */
    @media screen and (max-width: 950px) {
        .col-250{
            width: calc(100% / 2 - 10px);
        }
        .img-fluid{
            width: 80%;
        }
    }
    /* MOBILE */
    @media screen and (max-width: 750px){
        .nav-bar{
            width: 70px;
        }
        .container{
            width: calc(100vw - 70px);
        }
        .compressed{
           display: block;
        }
        .extended{
            display: none;
        }
    }