*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Konkhmer Sleokchher', cursive;
}
/* UTILITIES */
.big-container{
    width: 100vw;
    background-color: rgba(20,24,35,255);
    margin-bottom: 80px;
    padding-bottom: 30px;
}
.container{
    margin-top: 100px;
    margin-left: 250px;
    padding-left: 10px;
}

.flex{
    display: flex;
}

.round{
    border-radius: 50%;
}
.row{
    width: 100%;
}

.inline{
    display: inline;
}
ul{
    padding: 10px;
}

.img-fluid{
    width: 250px;
}

.md{
    flex-wrap: wrap;
}

.center{
    text-align: center;
}

.margin-bottom-100{
    margin-bottom: 100px;
}

.margin-top-180{
    margin-top: 180px;
}

.uppercase{
    text-transform: uppercase;
}

#header-button{
    text-decoration: none;
}

.content-white, .white, h2, h3{
    color: white;
}
.content-grey, p{
    color: rgba(107,106,106,255);
}

h2{
    margin-left: 10px;
}
/* LG FIRST */
/* NAV BAR */
.nav-bar, .col-350{
    width: 250px;
}
.nav-bar{
    height: 100%;
    position: fixed;
    z-index: 70;
    background-color: black;
}

.compressed{
    display: none;
}

.compressed-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-nav-bar{
    width: 30px;
    margin: 5px;
}

.logo{
    width: 180px;
}

.extended{
    padding: 20px;
}
/* HEADER */

#header{
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(9, 11, 19, 0.767);
    padding: 30px 10px;
}

#header-button{
    padding: 15px 40px;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
}
/* MAIN */
.col-250{
    width: calc(100% / 6 - 10px);
    margin: 5px;
    text-align: center;
    padding-top: 5px;
}

/* BOTTOM BAR */
#bottom-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: rgba(40,41,41,255);
}

.col-350{
    height: 100%;
}

#img-bottom-bar{
    width: 80px;
}
/* RESPONSIVE */

    /* BREAK ICONS */
    @media screen and (max-width: 1810px){
        .img-fluid{
            width: 100%;
        }
    }
    /* MD */
    @media screen and (max-width: 1200px){
        .col-250{
            width: calc(100% / 4 - 10px);
        }
    }

    /* S */
    @media screen and (max-width: 950px) {
        .col-250{
            width: calc(100% / 2 - 10px);
        }
        .img-fluid{
            width: 80%;
        }
        h2{
            margin-left: 35px;
        }
    }
    /* MOBILE */
    @media screen and (max-width: 750px){
        .nav-bar{
            width: 70px;
        }
        .container{
            margin-left: 70px;
        }
        .compressed{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            flex-direction: column;
        }
        .extended{
            display: none;
        }
    }